body {
  background-color: rgb(134, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  text-align: center;
  height: 500px;
  width: 600px;
  background-color: rgb(41, 140, 180);
  border-radius: 20px;
}
.App h1 {
  margin-bottom: 1.5rem;
  text-decoration: underline;
  padding: 1.2rem;
}
.quiz-list {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.quiz-list li {
  padding-inline: 1rem;
}
.quiz-p {
  font-size: 1.4rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
}
.btn {
  background-color: red;
  padding: 1.2rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  border-radius: 12px;
}
